{
  "extends": [
    "standard",
    "next/core-web-vitals"
  ],
  "globals": {
    "fetch": "readonly"
  },
  "plugins": [
    "@typescript-eslint",
    "tailwindcss"
  ],
  "rules": {
    "camelcase": [
      "error",
      {
        "allow": [
          "^UNSAFE_"
        ],
        "properties": "never",
        "ignoreGlobals": true,
        "ignoreImports": true
      }
    ],
    "no-undef": "off",
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "padding-line-between-statements": [
      "warn",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "multiline-block-like"
      },
      {
        "blankLine": "always",
        "prev": "multiline-block-like",
        "next": "*"
      }
    ],
    "@next/next/no-img-element": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ],
    "@typescript-eslint/no-use-before-define": [
      "error",
      {
        "functions": false,
        "variables": false
      }
    ],
    "import/no-anonymous-default-export": "off",
    "jsx-a11y/alt-text": "off",
    "jsx-quotes": [
      "error",
      "prefer-single"
    ],
    "react/display-name": "off",
    "react/jsx-curly-brace-presence": [
      "warn",
      "never"
    ],
    "react/jsx-handler-names": "off",
    "react/jsx-sort-props": [
      "warn",
      {
        "callbacksLast": true,
        "shorthandLast": true,
        "noSortAlphabetically": true,
        "reservedFirst": [
          "key",
          "ref"
        ]
      }
    ],
    "react/jsx-wrap-multilines": [
      "error",
      {
        "declaration": "parens-new-line",
        "assignment": "parens-new-line",
        "return": "parens-new-line",
        "arrow": "parens-new-line",
        "condition": "parens-new-line",
        "logical": "parens-new-line",
        "prop": "parens-new-line"
      }
    ],
    "tailwindcss/classnames-order": "warn",
    "tailwindcss/enforces-negative-arbitrary-values": "warn"
  }
}
