@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: ellipsis-font;

    src: local('Arial');
    unicode-range: U+2026;
  }

  html {
    touch-action: manipulation;
    scroll-behavior: smooth;
  }

  body {
    font-size: 14px;
    font-feature-settings: "pkna";
    text-underline-offset: 2px;
    word-break: break-all;
    overflow-wrap: break-word; /* Safari doesn't support 'anywhere' */
    overflow-wrap: anywhere;
  }

  button:disabled {
    cursor: not-allowed;
  }

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
  }

  [type="checkbox"]:focus,
  [type="radio"]:focus {
    @apply ring-transparent;
    outline: none;
  }

  [type="checkbox"]:focus-visible,
  [type="radio"]:focus-visible {
    @apply ring-2 ring-offset-2 ring-focus;
    outline: none;
  }

  [type="checkbox"] {
    @apply grid place-content-center w-[18px] h-[18px] m-px border-2 border-default-500 rounded
      disabled:border-default
      disabled:checked:bg-default
      disabled:indeterminate:bg-default
    ;
  }

  [type="radio"] {
    @apply grid place-content-center w-[18px] h-[18px] m-px border-2 border-default-500;
  }

  [type="radio"]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 18 18' fill='%232c6ecb' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='9' cy='9' r='5'/%3e%3c/svg%3e");
  }

  [type="radio"]:checked:disabled {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 18 18' fill='%23d2d5d8' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='9' cy='9' r='5'/%3e%3c/svg%3e");
  }

  [type="radio"]:checked,
  [type="radio"]:checked:focus,
  [type="radio"]:checked:hover {
    background-color: transparent;
    border-color: hsl(var(--nextui-primary));
  }

  [type="radio"]:disabled,
  [type="radio"]:disabled:focus,
  [type="radio"]:disabled:hover {
    border-color: hsl(var(--nextui-default));
  }
}
