@import 'tailwindcss';

@plugin './heroui.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: ellipsis-font, "Helvetica Neue", arial, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "BIZ UDPGothic", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Times New Roman", "Hiragino Mincho ProN", "BIZ UDPMincho", ui-serif, serif;

  --animate-fade-in: fade 150ms ease-out forwards;
  --animate-fade-out: fade 100ms ease-out reverse forwards;

  @keyframes fade {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@font-face {
  font-family: ellipsis-font;

  src: local('Arial');
  unicode-range: U+2026;
}

@layer base {
  html {
    touch-action: manipulation;
    scroll-behavior: smooth;
  }

  body {
    font-size: 14px;
    font-feature-settings: "pkna";
    text-underline-offset: 2px;
    word-break: break-all;
    overflow-wrap: break-word; /* Safari doesn't support 'anywhere' */
    overflow-wrap: anywhere;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  button:disabled {
    cursor: not-allowed;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200);
  }
}
